<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>testAgrupamiento</servlet-name>
        <servlet-class>servlets.testAgrupamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportes</servlet-name>
        <servlet-class>servlets.reporteRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuServlet</servlet-name>
        <servlet-class>servlets.menuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarPersonal</servlet-name>
        <servlet-class>servlets.ServletModificarPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recategorizarServlet</servlet-name>
        <servlet-class>servlets.recategorizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletConsultarDomicilio</servlet-name>
        <servlet-class>servlets.servletConsultarDomicilio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarPersonal</servlet-name>
        <servlet-class>servlets.ServletConsultarPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBajaPersonal</servlet-name>
        <servlet-class>servlets.ServletBajaPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logInServlet</servlet-name>
        <servlet-class>servlets.logInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asignarLegServlet</servlet-name>
        <servlet-class>servlets.asignarLegServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletAltaPersonal</servlet-name>
        <servlet-class>servlets.ServletAltaPersonal</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>loadPageServlet</servlet-name>
        <servlet-class>servlets.loadPageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletModificarTipoHorario</servlet-name>
        <servlet-class>servlets.ServletModificarTipoHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarAsignacionHorario</servlet-name>
        <servlet-class>servlets.ServletModificarAsignacionHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarLicencia</servlet-name>
        <servlet-class>servlets.ServletModificarLicencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarRegistroPeriodo</servlet-name>
        <servlet-class>servlets.ServletModificarRegistroPeriodo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testAgrupamiento</servlet-name>
        <url-pattern>/testAgrupamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportes</servlet-name>
        <url-pattern>/reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuServlet</servlet-name>
        <url-pattern>/menuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recategorizarServlet</servlet-name>
        <url-pattern>/recategorizarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarPersonal</servlet-name>
        <url-pattern>/ServletModificarPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletConsultarDomicilio</servlet-name>
        <url-pattern>/servletConsultarDomicilio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarPersonal</servlet-name>
        <url-pattern>/ServletConsultarPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBajaPersonal</servlet-name>
        <url-pattern>/ServletBajaPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logInServlet</servlet-name>
        <url-pattern>/logInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asignarLegServlet</servlet-name>
        <url-pattern>/asignarLegServlet</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ServletAltaPersonal</servlet-name>
        <url-pattern>/ServletAltaPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPageServlet</servlet-name>
        <url-pattern>/loadPageServlet</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ServletModificarTipoHorario</servlet-name>
        <url-pattern>/ServletModificarTipoHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarAsignacionHorario</servlet-name>
        <url-pattern>/ServletModificarAsignacionHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarLicencia</servlet-name>
        <url-pattern>/ServletModificarLicencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarRegistroPeriodo</servlet-name>
        <url-pattern>/ServletModificarRegistroPeriodo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <ejb-ref>
        <ejb-ref-name>ExpRecategorizacionBeans</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>Expertos.categorizacion.ExpRecategorizacion</remote>
    </ejb-ref>
</web-app>
