<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>testAgrupamiento</servlet-name>
        <servlet-class>servlets.testAgrupamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPersonal</servlet-name>
        <servlet-class>servlets.ServletPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuServlet</servlet-name>
        <servlet-class>servlets.menuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recategorizarServlet</servlet-name>
        <servlet-class>servlets.recategorizarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testAgrupamiento</servlet-name>
        <url-pattern>/testAgrupamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPersonal</servlet-name>
        <url-pattern>/ServletPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuServlet</servlet-name>
        <url-pattern>/menuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recategorizarServlet</servlet-name>
        <url-pattern>/recategorizarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <ejb-ref>
        <ejb-ref-name>ExpRecategorizacionBeans</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>Expertos.categorizacion.ExpRecategorizacion</remote>
    </ejb-ref>
</web-app>
